<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="First Suit">
    <test thread-count="5" name="Automation">
        <classes>
            <class name="SampleTest"/>
        </classes>
    </test> <!-- Automation -->
</suite> <!-- Default Suite -->
